.postRecipe {
  flex: 1;
}

.selects {
  display: grid;
  grid-template-columns: 2fr 240px 2fr;
  gap: 1rem;
  width: 100%;
}

.selects select {
  width: 100%;
}

input[type="number"] {
  width: 100%;
}

@media (max-width: 34.375rem) {
  .selects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
  }
}