.Comentar {
  position: relative;
}

.formAvaliacao {
  margin-bottom: 1rem;
  min-height: 5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  color: var(--subtitulos);
}

.formAvaliacao h3 {
  font-weight: 500;
}

.formAvaliacao ul {
  gap: .3rem;
  flex-wrap: wrap;
}

.estrelasCheias {
  background: url('../../../../../public/Images/icons/Receita Individual/Estrela cheia.svg') no-repeat center;
  background-size: contain;
  height: 32px;
  width: 32px;
  cursor: pointer;
  transition: .2s;
}

.formAvaliacao ul:hover .estrelasCheias {
  background: url('../../../../../public/Images/icons/Receita Individual/Estrela cheia.svg') no-repeat center;
  background-size: contain;
} 
.estrelasCheias:hover ~ div {
  background: url('../../../../../public/Images/icons/Receita Individual/Estrela vazia.svg') no-repeat center !important;
  background-size: contain;
  height: 32px;
  width: 32px;
}

.estrelaAtivo ~ div{
  background: url('../../../../../public/Images/icons/Receita Individual/Estrela vazia.svg') no-repeat center;
  background-size: contain;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.formComentar {
  position: relative;
}

.Textarea {
  resize: none;
  height: 100px;
  width: 96%;
  margin: 0rem 4px;
  padding: 8px 4rem 8px 8px;
  box-sizing: border-box;
}

.btnEnviar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.9rem;
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  background-color: transparent;
}


@media (max-width: 34.375rem) {
  .formAvaliacao {
    margin-top: 1rem;
  }

  .Textarea {
    margin: 1rem 4px;
    padding: 8px 3.5rem 8px 8px;
  }

  .btnEnviar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.1rem;
    cursor: pointer;
    outline: none;
    border: 1px solid transparent;
  }
}