.Receita {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: .8rem 0 4rem 0;
}

@media (max-width: 51.25rem) {
  .Receita {
    margin:0 0 3vh 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}


.contentInfo {
  margin-top: 3rem;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (max-width: 34.375rem) {
  .contentInfo {
    margin-top: 3rem;
    padding: 0 1rem;
  }
}

.receitaErro {
  min-height: 80vh;
  font-size: 2rem;
  text-align: center;
}