.Busca {
  width: 100%;
  height: 2.75rem;
  position: relative;
  margin-top: 4px;
}

.Busca label img {
  position: absolute;
  left: 14px;
  top: 12px;
}

.Busca input {
  width: 100%;
  padding-left: 40px;
  border-radius: 3rem;
}