.btnMenu {
  display: block;
  direction: rtl;
  height: 3px;
  background-color: var(--de-fundo);
  align-self: flex-end;
  border-radius: 3px;
}

#ham1 {
  width: 10px;
}

#ham2 {
  width: 15px;
}

#ham3 {
  width: 20px;
}

.btnMenuConfig {
  width: 40px;
  padding: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.btnMenuConfig:hover .btnMenu {
  transition: .2s;
  width: 20px !important;
}


.menuMobile {
  width: 0vw;
  height: 100vh;
  position: fixed;
  z-index: 3000;
  top: 0;
  right: 0;
  background-color: var(--principal);
  animation: transitionMenu ease-in-out .3s forwards;
}

@keyframes transitionMenu {
  to {
    width: 55vw;
  }
}

.menuClose {
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: 22px;
  padding: 4px;
}

.contentMenu {
  margin-top: 5rem;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: calc(100% - 5rem);
}

.contentMenu nav ul {
  display: flex;
  flex-direction: column;
}

.contentMenu nav ul > li > a {
  font-size: 1.5rem;
}