.Slides {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.slidesContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem 0;
  min-height: 800px;
  transition: .3s;
}

.SlidesBtn {
  position: relative;
}

.btnActions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2002;
  background-color: #2e1a165b;
  width: 40px;
  height: 60px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnActions:hover {
  transition: .2s;
  cursor: pointer;
  background-color: #2E1A16;
}

.btnActions img {
  height: 16px;
  width: 16px;
  opacity: .5;
}

.btnActions:hover img {
  opacity: 1;
}

.btnLeft {
  left: 1%;
}

.btnLeft img {
  transform: rotate(-90deg);
}

.btnRight {
  right: 1%;
}

.btnRight img {
  transform: rotate(90deg);
}

@media (max-width: 90rem) {
  .slidesContent {
    min-height: 400px;
  }
}

@media (max-width: 36rem) {
  .slidesContent {
    min-height: 400px;
  }
}