.Textarea {
  resize: none;
  height: 100px;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  color: var(--subtitulos);
  background-color: var(--inputs);
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  font-family: var(--tipo-secundaria);
  font-weight: 300;
}

.Textarea:focus, .Textarea:hover {
  box-shadow: 0px 0px 0px 1px var(--titulos), 0px 0px 0px 3px var(--subtitulos);
  transition: .3s;
}

.Textarea ::placeholder {
  color: var(--placeholder);
  font-size: 1rem;
}