.imagem {
  max-height: 430px;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.imagem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content1 {
  position: absolute;
  top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  position: relative;
  display: flex;
  gap: .5rem;
}

.btnOpcs {
  margin-left: 12px;
  background-color: #5a4026;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  opacity: .5;
}

.btnOpcs:hover {
  opacity: 1;
  cursor: pointer;
  transition: .2s;
}

.btnOpcs span {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: currentColor;
}

.menuOpcs ul{
  position: absolute;
  top: -.8rem;
  opacity: 0;
  width: 0;
  height: 0;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 8px;
  overflow: hidden;
  animation: animaMenu .3s forwards;
}

@keyframes animaMenu {
  to {
    width: 120px;
    height: 75px;
    opacity: 1;
  }
}

.menuOpcs ul li{
  display: flex;
  flex-direction: column;
  gap: .4rem;
  align-items: flex-start;
}

.menuOpcs ul li div{
  display: flex;
  gap: .5rem;
  align-items: center;
  font-weight: 300;
  font-size: 1.1rem;
}

.menuOpcs ul li div:hover {
  font-weight: 400;
  cursor: pointer;
}

.menuOpcs ul li:nth-child(1)::after {
  content: '';
  display: inline-block;
  height: 2px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--inputs);
}

.menuOpcs img {
  height: 18px;
  width: 18px;
}

.delete {
  color: var(--delete);
}

.titulo {
  padding: 12px;
  max-width: 400px;
  background-color: var(--titulo-receita);
  color: var(--titulos);
  border-radius: 4px 0 0 4px;
}

.avaliacao {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  background-color:  rgba(255, 255, 255, 0.123);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avaliacao img {
  height: 32px;
  width: 32px;
  object-fit: contain;
}

.media {
  display: inline-block;
  font-size: 1rem;
  color: var(--de-fundo);
}

@media (max-width: 51.25rem) {
  .imagem {
    border-radius: 0px;
  }
}