.imagem {
  max-height: 430px;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

.imagem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content1 {
  position: absolute;
  top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  position: relative;
  display: flex;
  gap: .5rem;
}

.btnOpcs {
  margin-left: 12px;
  background-color: #5a4026;
  color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  outline: none;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  opacity: .5;
}

.btnOpcs:hover {
  opacity: 1;
  cursor: pointer;
  transition: .2s;
}

.btnOpcs span {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: currentColor;
}

.titulo {
  padding: 12px;
  max-width: 400px;
  background-color: var(--titulo-receita);
  color: var(--titulos);
  border-radius: 4px 0 0 4px;
  font-size: 1.7rem;
}

.avaliacao {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 12px;
  background-color:  rgba(255, 255, 255, 0.123);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avaliacao img {
  height: 32px;
  width: 32px;
  object-fit: contain;
}

.media {
  display: inline-block;
  font-size: 1rem;
  color: var(--de-fundo);
}

@media (max-width: 51.25rem) {
  .imagem {
    max-height: 400px;
    border-radius: 0px;
  }

  .btnOpcs {
    height: 35px;
    width: 35px;
  }

  .btnOpcs span {
    height: 4px;
    width: 4px;
  }

  .titulo {
    font-size: 1.3rem;
    max-width: 280px;
  }

  .avaliacao img {
    height: 24px;
    width: 24px;
    object-fit: contain;
  }
}