.PasswordLost {
  align-self: flex-start;
  padding: 0 4vw;
  max-width: 48rem;
  margin-top: 12vh;
}

.PasswordLost h1 {
  max-width: 50%;
  font-weight: 600;
  font-size: 3rem;
  line-height: 2.8rem;
}

.PasswordLost img {
  margin-top: 3.3vh;
}