.Cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.imagemCard{
  width: 100%;
  height: 100%;
}

.card {
  box-shadow: .5px 1px 6px 0px rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.card img{
  max-height: 114.23px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.03);
  transition: .2s;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  gap: .6rem;
}

.card h3 {
  font-size: 0.8rem;
  padding-left: 10px;
  font-family: var(--tipo-principal);
  font-weight: 500;
  color: var(--titulos);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .card h2:hover {
  font-size: 0.7rem !important;
  Adicionar lógica no javascript para que só se reduza o tamanho do título após certo tamanho, verificar histórico no chatgpt
} */

.info .subinfo {
  display: flex;
  flex-direction: row;    
  flex-wrap: wrap;
  gap: 4px;
  justify-content: space-between;
  width: 100%;
  padding: 0px 10px 12px 10px;
}

.avaliacao {
  display: flex;
  gap: 4px;
  align-items: center;
}

.avaliacao img {
  max-width: 16px;
}

.nota {
  color: var(--subtitulos);
  overflow: visible !important;
  display: flex;
  align-items: center;
  gap: 2px;
}

.info .subinfo p{
  font-size: 0.7rem;
  font-family: var(--tipo-secundaria);
  font-weight: 100;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--autor-card);
}

@media (max-width: 51.25rem) {
  .Cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card img{
    max-height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 36rem) {
  .info .subinfo p{
    font-size: 0.6rem;
  }
}