.apresentacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.titulos {
  max-width: 80%;
  max-height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.titulos h1{
  font-family: var(--tipo-principal);
  color: var(--principal);
  font-size: 2.7rem;
  line-height: 2.4rem;
}

.titulos span{
  color: var(--subtitulos);
  font-size: 1.2rem;
  line-height: 1.4rem;
  min-height: 67.17px;
}

.imagemChef img {
  max-width: 90%;
}


@media (max-width: 34.375rem) {
  .apresentacao {
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 100%;
  }

  .titulos {
    max-width: 100%;
  }

  .imagemChef{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imagemChef img {
    max-width: 70%;
  }

  /* .titulos h1{
    font-size: 2.3rem;
    line-height: 2.1rem;
  }
  .titulos span{
    color: var(--subtitulos);
    font-size: 1rem;
  } */
}

