.titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo img {
  height: 72px;
  margin-bottom: 2.2vh;
}

@media (max-width: 21.75rem) {
  .titulo img {
    display: none;
  }
}