.Suporte {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3vh 0;
}

.SuporteContent {
  flex: 1;
}

.Informacoes {
  background: linear-gradient(180deg, #2c190af3, #331e0a);
  color: var(--de-fundo);
  margin-top: 2vh;
  padding: 1.2rem 2rem;
  border-radius: 4px;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.Informacoes h2 {
  font-size: 1.4rem;
  font-family: var(--tipo-secundaria);
  font-weight: 500;
}

.contatos {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}

.contato {
  display: grid;
  grid-template-columns: 48px 3fr;
  grid-template-areas: "logo titulo"
  "logo contato";
  justify-content: center;
  align-items: center;
  column-gap: .6rem;
  row-gap: 4px;
  max-width: 100%;
}

.contato img {
  grid-area: logo;
}

.contato h3 {
  grid-area: titulo;
  font-size: 1rem;
  font-weight: 400;
}

.contato p {
  grid-area: contato;
  font-size: 1rem;
  font-weight: 300;
}

.SuporteContent form textarea{
  display: block;
  height: 100px;
  resize: none;
}

@media (max-width: 34.375rem) {
  .Informacoes {
    height: 40vh;
  }

  .contatos {
    align-self: flex-start;
    flex-direction: column;
    gap: 1rem;
  }

  .contato {
    grid-template-columns: 40px 3fr;
  }

  .contato img {
    height: 28px;
    width: 28px;
  }

  .contato h3 {
    font-size: 0.8rem;
  }
  
  .contato p {
    grid-area: contato;
    font-size: 0.8rem;
    font-weight: 300;
  }

  .Suporte form label, form input, input::placeholder, textarea::placeholder {
    font-size: 0.9rem;
  }
}