@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100;300;600;700;800&family=Rubik:wght@300;400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {

  /** CORES **/
 --principal: #2E1A16;
 --de-fundo: #FFFFFF;
 --autor-card: #B6997D;
 --links-externos: #337EEA;
 --delete: #E82727;
 --titulos: #5F4022;
 --subtitulos: #81562C;
 --label: #73583E;
 --opcs-header: #B0B0B0;
 --placeholder: #999999;
 --inputs: #F1F1F1;
 --titulo-receita : #A98360;

 /** TIPOGRAFIA **/

 --tipo-principal: 'K2D', sans-serif;
 --tipo-secundaria:'Rubik', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  font-family: var(--tipo-secundaria);
}

.App {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.spaceContent {
  max-width: 50rem;
  padding: 0 12px;
}

.animaLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animaLeft .3s forwards;
}

@keyframes animaLeft {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.animaTop {
  opacity: 0;
  transform: translateY(20px);
  animation: animaTop .5s forwards;
}

@keyframes animaTop {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.animaBottom {
  opacity: 0;
  transform: translateY(-20px);
  animation: animaBottom.3s forwards;
}

@keyframes animaBottom{
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

h1, h2 {
  font-family: var(--tipo-principal);
  color: var(--titulos);
  font-size: 1.7rem;
}

::-webkit-scrollbar {
  background-color: white;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b321a;
  border-radius: 1rem;
}

::-webkit-scrollbar-button {
  background: url('../public/Images/icons/De uso Geral/ArrowScrollBar.svg') no-repeat center;
}

::-webkit-scrollbar-button:end {
  background: url('../public/Images/icons/De uso Geral/ArrowScrollBarDropDown.svg') no-repeat center;
}

::-webkit-scrollbar-button:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

